%li.s-inline-input.pwdcalc.input.stringish.required#user_password_input
  = label_tag "user[password]", "Password" 
  = text_field_tag "user[password]", nil, { class: "js-input_password", type: 'password' } 
  %p.password-strength-meter.pwdcalc{'data-field' => 'user_password'}
= sign_up_1_error_box('password')
