.b-intelligence.pull-left
  %h3.c-blue
    Actionable marketing Intelligence
  .b-intelligence__items-container
    .b-intelligence__item
      %a.b-intelligence__item-title{href: '#'}
        120
      %p.b-intelligence__item-description
        Companies are currently looking for capabilities your company offers.
    .b-intelligence__item
      %a.b-intelligence__item-title{href: '#'}
        80
      %p.b-intelligence__item-description
        Companies offer capabilities your company is looking for.
    .b-intelligence__item
      %a.b-intelligence__item-title{href: '#'}
        Network Security
      %p.b-intelligence__item-description
        Companies are currently looking for capabilities your company offers.
    .b-intelligence__item
      %a.b-intelligence__item-title{href: '#'}
        Rails
      %p.b-intelligence__item-description
        Companies offer capabilities your company is looking for.
    .b-intelligence__item
      %a.b-intelligence__item-title{href: '#'}
        25
      %p.b-intelligence__item-description
        Companies are currently looking for capabilities your company offers.
    .b-intelligence__item
      %a.b-intelligence__item-title{href: '#'}
        10
      %p.b-intelligence__item-description
        Companies offer capabilities your company is looking for.

  .b-intelligence__wanted.pull-left
    %h4.c-blue
      Top Capabilities wanted right now
    .b-intelligence__labels
      .labels-row
        .s-label{style: "width: 100%;"}
          %span.s-label__text
            Software development
          %span.s-label__number
            254
      .labels-row
        .s-label.pull-left{style: "width: 154px;"}
          %span.s-label__text
            Scrum
          %span.s-label__number
            253
        .s-label.pull-right{style: "width: 108px;"}
          %span.s-label__text
            Rails
          %span.s-label__number
            72

  .b-intelligence__needed.pull-right
    %h4.c-blue
      Top Capabilities wanted right now
    .b-intelligence__labels
      .labels-row
        .s-label{style: "width: 100%;"}
          %span.s-label__text
            Software development
          %span.s-label__number
            254
      .labels-row
        .s-label.pull-left{style: "width: 154px;"}
          %span.s-label__text
            Scrum
          %span.s-label__number
            253
        .s-label.pull-right{style: "width: 108px;"}
          %span.s-label__text
            Rails
          %span.s-label__number
            72

  .b-intelligence__companies-container
    .b-intelligence__companies
      %h4.c-blue Companies we found
      %h4.c-blue Companies That found us
    .b-intelligence__companies
      %span 234
      %span 1024
