<% provide(:title, 'Contact') %>
<% provide(:page_heading, 'Contact') %>
<div class="spacer"></div>
<div class="row">
  <div class="span8 offset2 center">
    <p class="em1-2 white">
      If you have any questions, don't hesitate to get in touch.
    </p>
    <br/><br/>
  </div>
</div>
