- provide(:title, 'Terms and Conditions')

.c-content.move_left_terms_title
  = render 'm/shared/page_title', title: 'Terms and Conditions of Website Use', description: ''
.b-blog
  .c-content.static_page.terms_and_conditions
    %p
      Welcome to
      %a{href: "http://glowfori.com"} 
        glowfori.com
      a website and service owned and operated by Glowfori S.A.
      %b.terms_bold
        ("[ Glowfori ]"). 
      We are registered in Switzerland and have our registered office at Chemin Des Voiron 9, 1296-Coppet. 

    %h3 Acceptance of Terms

    %p
      These terms and conditions of use 
      %b.terms_bold
        (the "Terms and Conditions")
      (together with the documents referred to in them) set out the terms on which you may use the
      %a{href: "http://glowfori.com"} 
        glowfori.com 
      website 
      %b.terms_bold
        (the "Site"), 
      and the Services whether as a guest or a registered user. 
      Use of the Site includes accessing, browsing, or registering to use the Site.

    %p  
      By using the Site, you confirm that you accept the below Terms and Conditions and that you agree to comply with them. 
      We recommend that you print a copy of this page for future reference. 
      If you do not agree to these Terms and Conditions, you must not use the Site. 
      If you order Services from us, the Terms and Conditions in force at that time will apply to the Contract between you and us.

    %p  
      We may amend or update these Terms and Conditions and the documents referred to within them at any time. 
      We will notify you of any such changes by uploading the updated terms and conditions and/or associated documents onto the Site. 
      You should therefore check the Site regularly for any changes to the Terms and Conditions. 

    %ol.terms_list_numeric 
      %li
        %h3 Other applicable terms
        %p
          These Terms and Conditions refer to the following additional terms, which also apply to your use of the Site:
          Our Glowfori Member Code of Conduct #{link_to('Code of Conduct', code_url)}, which sets out the permitted uses and prohibited uses of the Site.
          When using the Site, you must comply with this CODE OF CONDUCT.

        %p
      %li
        %h3 Our Privacy Policy
        %p
          Maintaining your trust is our top priority, so we adhere to the following principles to protect your privacy:
        %p
          We protect your personal information and will only provide it to third parties: (1) with your consent; (2) where it is necessary to carry out your instructions; (3) as reasonably necessary in order to provide Glowfori features and functionality to you; (4) as we reasonably believe is permitted by law or regulation; or (5) as necessary to enforce our Terms and Conditions of use or protect the rights, property, or safety of Glowfori, its Members, and the public.
        %p
          We have implemented appropriate security safeguards designed to protect your information in accordance with industry standards.
        %p
          We may modify this Privacy Policy from time to time, and if we make material changes to it, we will provide notice through our website, apps, or other services or by other means so that you may review the changes before you continue to use Glowfori If you object to any changes, you may close your Glowfori account. 
          Continuing to use the Site after we publish or communicate a notice about any changes to this Privacy Policy means that you are consenting to the changes.

      %li
        %h3 Our Cookie Policy
        %p
          Our Cookie Policy sets out information about the cookies on the Site. 
          By using the Site, you are consenting to our use of cookies in accordance with this Cookie Policy. 
          If you do not agree to our use of cookies in this way, you should set your browser settings accordingly or not use the Site. 
          If you disable the cookies that we use, this may impact your user experience while on the Site.

      %li
        %h3 Changes to the Site
        %p      
          We reserve the right to update the Site from time to time and may change the content at any time, but please note that any of the content on the Site may be out of date at any given time and we are under no obligation to update it. 
          The Site is provided "as is" and we do not guarantee that the Site, or any content on it, will be free from errors or omissions.

      %li
        %h3 Access to the Site
        %p     
          Access to the Site is made available, free of charge on a temporary basis.  
          Glowfori reserve the right to amend charges for access at its discretion.
        %p
          We may suspend, withdraw, discontinue or change all or any part of the Site without notice. 
          We will not be liable to you if for any reason the Site is unavailable at any time or for any period.
        %p
          You are responsible for ensuring that all persons who access the Site through your internet connection are aware of these Terms and Conditions and other applicable terms and conditions and that they comply with them.  

      %li
        %h3 Your account and password
        %p       
          If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential and you must not disclose it to any third party. 
        %p  
          We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these Terms and Conditions.
        %p
          If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at 
          %a{href: "mailto:tc@glowfori.com"} 
            tc@glowfori.com

        %h3 Description of the service provided by glowfori.com (the "Service")
        %p    
          The Site provides you with access to an online community of small and medium sized independent IT companies 
          %b.terms_bold
            (each a "Supplier").
          The community has been set up with a view to making it easier for Suppliers to trade with each other. 

      %li
        %h3 Terms and Conditions of Supply
        %p       
          If you choose to purchase Services from us, the following Terms and Conditions will apply to the contract between [you/your business] and
          %a{href: "http://glowfori.com"} 
            glowfori.com
          %b.terms_bold
            (the "Contract" ). 
        %p
          You confirm that you have authority to bind any business on whose behalf you use the Site to purchase Services.

        %ol.terms_list_letter
          %li
            %p.terms_p_move_left
              These Terms and Conditions and Code of Conduct constitute the entire agreement between you and us. 
              You acknowledge that you have not relied on any statement, promise or representation made or given by or on behalf of us which is not set out in these Terms and Conditions, Code of Conduct or any document expressly referred to in them.
          %li
            %p.terms_p_move_left
              We aim to provide our Services at all times in a professional manner and to best practice standards. 

      %li
        %h3 Intellectual property rights
        %p
          We are the owner or the licensee of all intellectual property rights in the Site, in the material published on it and in the Service we provide (including any and all right in or to the Template Terms).  
          Those works are protected by copyright laws and treaties around the world.  
          All such rights are reserved. 
        %p
          You must not download, print, or use any part of the content on the Site for commercial purposes without obtaining a licence to do so from us or our licensors.
        %p  
          You may print off one copy, and may download extracts, of the following page(s) from the Site for your personal use:  
        %p
          You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. 
        %p  
          You may draw the attention of others within your organisation to content posted on the Site.  
          Our status (and that of any identified contributors) as the authors of content on the Site must always be acknowledged. 
        %p  
          If you print off, copy or download any part of the Site in breach of these Terms and Conditions, your right to use the Site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made. 

      %li
        %h3 No reliance on information
        %p
          The content on the Site is provided for general information only. 
          It is not intended to amount to advice on which you should rely. 
          You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on the Site.
        %p
          Although we make reasonable efforts to update the information on the Site, we make no representations, warranties or guarantees, whether express or implied, that the content on the Site is accurate, complete or up-to-date. 

      %li
        %h3 Limitation of our liability
        %p 
          To the fullest extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to the Site or any content on it, whether express or implied. 
        %p  
          We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:

        %ul.limitation_list
          %li
            use of, or inability to use, the Site or the Service; or
          %li
            use of or reliance on the Service or any content displayed on the Site. 
        %p
          If you are a business user, please note that in particular, we will not be liable for:

        %ul.limitation_list
          %li
            loss of profits, sales, business, or revenue;
          %li
            business interruption;  
          %li
            loss of anticipated savings; 
          %li
            loss of business opportunity, goodwill or reputation; or
          %li
            any indirect or consequential loss or damage. 

        %p
          We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Site or to your downloading of any content on it, or on any website linked to it.
        %p
          We assume no responsibility for the content of websites linked on the Site. 
          We have no control over the contents of those sites or resources. 
          Such links should not be interpreted as endorsement by us of those linked websites. 
          We will not be liable for any loss or damage that may arise from your use of them. 
        %p  
          Nothing in these Terms and Conditions excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.

      %li
        %h3 Uploading content to the Site
        %p
          Whenever you make use of a feature that allows you to upload content to the Site, or to make contact with other users of the Site, you must comply with the content standards set out in our Acceptable Use Policy 
        %p
          You confirm that any such contribution does comply with those standards, and you will be liable to us and indemnify us for any breach of that warranty.
        %p
          Any content you upload to the Site will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such content for any purpose. 
          We also have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to the Site constitutes a violation of their intellectual property rights, or of their right to privacy. 
          We will not be responsible, or liable to any third party, for the content or accuracy of any content posted by you or any other user of the Site.
        %p  
          We have the right to remove any posting you make on the Site if, in our opinion, your post does not comply with the content standards set out in our Acceptable Use Policy 
        %p
          The views expressed by other users on the Site do not represent our views or values.

      %li
        %h3 Linking to the Site
        %p
          You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. 
          We reserve the right to withdraw linking permission without notice. 
          You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. 
        %p
          The Site must not be framed on any other site, nor may you create a link to any part of the Site other than the home page. 
        %p
          You must not establish a link to the Site in any website that is not owned by you. 
        %p
          The website to which you are linking must comply in all respects with the content standards set out in our Acceptable Use Policy
        %p  
          If you wish to make any use of content on the Site other than as set out above, please contact 
          %a{href: "mailto:tc@glowfori.com"} 
            tc@glowfori.com

      %li
        %h3 Viruses
        %p 
          We do not guarantee that the Site will be secure or free from bugs or viruses.
        %p
          You are responsible for setting up your information technology, computer programmes and platform in order to access the Site. 
          You should use your own virus protection software.
        %p
          You must not knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful to the Site. 
          You must not attempt to gain unauthorised access to the Site, the server on which the Site is stored or any server, computer or database connected to the Site. 
          You must not attack the Site via a denial-of-service attack or a distributed denial-of service attack. 
          By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. 
          We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Site will cease immediately.

      %li
        %h3 Applicable law
        %p
          These Terms and Conditions (and any non-contractual disputes or claims) are governed by English law. 
          We both agree that only of the courts of England and Wales can make a decision if there is a dispute. 

      %li
        %h3 Other important terms
        %p
          If at any time we have a claim against you for breach of these Terms and Conditions, we can pursue that claim when we are ready. A delay in pursuing the claim does not mean that we are going to ignore it.
        %p
          If a court decides that any part of these Terms and Conditions cannot be enforced, the other terms shall still be effective.

      %li
        %h3 Contact us
        %p
          To contact us, please email 
          %a{href: "mailto:tc@glowfori.com"} 
            tc@glowfori.com
        %p
          Thank you for visiting the Site.
