.errors_block
  .group_message_error You can only post to 5 companies at the same time!
  .group_message_no_companies_error You should select at least one company (max 5)!
  .group_message_no_message_error You can't compose blank Glow!
  .group_message_success Sent successfully!