.s-table__header
  %table
    %thead
      %tr
        %th{style: "width:250px" } Company Name
        %th.search_filter
          = render 'messages/search_tags_filter'
        %th{style: "width:90px" } City
        %th{style: "width:80px" } Country
        %th Select