.b-social-nav
  %ul.b-social-nav__list
    %li.b-social-nav__item
      = link_to "", 'https://www.facebook.com/glowfori', class: "social-roll facebook-roll", target: '_blank'
    %li.b-social-nav__item
      = link_to "", 'https://twitter.com/glowfori', class: "social-roll twitter-roll", target: '_blank'
    %li.b-social-nav__item
      = link_to "", 'http://www.linkedin.com/company/2713272', class: "social-roll linkedin-roll", target: '_blank'
