.b-social-nav.c-content
  %ul.b-social-nav__list
    %li.b-social-nav__item= link_to "", "#", class: "b-social-nav__link fb"
    %li.b-social-nav__item= link_to "", "#", class: "b-social-nav__link tw"
    %li.b-social-nav__item= link_to "", "#", class: "b-social-nav__link in"