<% unless current_user == @user %>
    <div id="follow_form">
      <% if current_user.following?(@user) %>
          <%= render 'relationships/unfollow', company: @user.company %>
      <% else %>
          <%= render 'relationships/follow', company: @user.company %>
      <% end %>
    </div>
<% end %>