<div class="bs-docs-example">
  <p class="lead">Help hints</p>
  <p><small>You can post a 140 character message to your followers here</small></p>
  <p><small>You can send private messages by using @nickname</small></p>
</div>