<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose a new glow...", :cols => 40, :rows => 8 %> </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
    <span class="countdown"></span>
<% end %>