<center>
  <br>
  <div class="progress">
    <div class="bar bar-<%= step_1 %>" style="width: 25%;">Enter Contact Information</div>
    <div class="bar bar-<%= step_2 %>" style="width: 25%;">Confirm email</div>
    <div class="bar bar-<%= step_3 %>" style="width: 25%;">Authenticate data</div>
    <div class="bar bar-<%= step_4 %>" style="width: 25%;">Create your company record​</div>
  </div>
</center>
