.social-links
  = link_to image_tag('social/facebook.png'), 'https://www.facebook.com/glowfori', target: '_blank'
  = link_to image_tag('social/twitter.png'), 'https://twitter.com/glowfori', target: '_blank'
  = link_to image_tag('social/linkedin.png'), 'http://www.linkedin.com/company/2713272', target: '_blank'