<% provide(:title, 'Contact Us') %>
<% provide(:page_heading, 'Contact Us') %>
<div class="spacer"></div>
<div class="row">
  <div class="span8 offset2 center">
    <p class="white">
      Thank you! Your message has been sent and will be reviewed as soon as possible.
    </p>
    <%= link_to 'Home', root_path, class: 'btn btn-primary btn-center span2' %>
  </div>
</div>
