<h1>You have a new email from  <%=@contact.full_name %></h1>
<p>
  <%= @contact.body %>
</p>

<p>Regards</p>

<a href="http://www.glowfori.com"><img src="https://glowcon.s3.amazonaws.com/images/logo-rgb-over-white-header.png"/></a>

<p>Please note the following <%= link_to 'terms and conditions', terms_url, 'target' => '_blank' %> apply for all members and govern the usage of the site</p>