.c-content= render 'm/shared/page_title', title: 'Blog', description: 'Hear about the latest and greatest here at Glowfori'
.b-blog
  .c-content
    .b-blog__columns
      .b-blog__left-column
        .b-blog-item
          %h3.b-blog-item__title Lorem ipsum dolor sit amet
          .b-blog-item__date 03.05.2013
          .b-blog-item__body
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            %br
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            %br
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            %br
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            %br
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

      .b-blog__right-column
        .b-blog__right-column-body
          .b-blog__right-column-title Previous Articles
          .b-blog-archive
            = link_to 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet - 03.04.2013', '#', class: 'b-blog-archive__link'
            = link_to 'Lorem ipsum dolor sit amet - 03.04.2013', '#', class: 'b-blog-archive__link'
