.c-content= render 'm/shared/company_info', name: 'ACME'
.b-welcome
  .b-welcome__header
    .c-content
      .b-welcome__header-title Create Glows
      .b-welcome__header-title Make Connections
      .b-welcome__header-title Get Found @ Glow
  .c-content
    %table.b-welcome__columns
      %tr
        %td.b-welcome__column
          %p
            Start following companies
            and share public or private
            messages in your network.
          %br
          %p
            Use your Glows to share
            knowledge, Find leads, share
            services, ideas,
            products and innovations.
        %td.b-welcome__column
          %p
            You told us what you were
            looking for. On your home
            page we found all the
            companies that offer what
            you are looking for.
          %br
          %p
            Start following these
            companies, Share a glow or
            connect privately
        %td.b-welcome__column
          %p
            To be found you have to be
            known. Glowfori operates on
            Matching needs with
            capabilities. Hone your data
            skills by continuously
            reviewing the capabilities
            you offer.
      %tr
        %td.b-welcome__column= link_to "LET'S GO", "#", class: "s-btn"
        %td.b-welcome__column= link_to "LET'S GO", "#", class: "s-btn"
        %td.b-welcome__column= link_to "LET'S GO", "#", class: "s-btn"


