.b-connections__not-glowing
  Currently no matches for what you are
  = tag_type
  %small
    (perhaps review your profile -
    = succeed ')' do
      = link_to 'edit profile', edit_company_path(current_user.company_relationship.company_id)