.are_your_sure_modal
  %p
    Your changes have not been saved!
  %div
    %input.s-btn#fancyConfirm_cancel{ type: 'button', value: 'Cancel' }
    %input.s-btn.pull-left#fancyConfirm_ok{ type: 'button', value: 'Yes, I understand' }