.b-profile__sidebar
  %ul.b-sidebar-menu
    %li.b-sidebar-menu__item
      = link_to 'User Data', '#', class: "b-sidebar-menu__link", data: { content: 'company_user_data' }
    %li.b-sidebar-menu__item
      = link_to 'Company Data', '#', class: "b-sidebar-menu__link", data: { content: 'company_base_data' }
    %li.b-sidebar-menu__item
      = link_to 'Market Data', '#', class: "b-sidebar-menu__link current", data: { content: 'company_marketing' }
    %li.b-sidebar-menu__item
      = link_to 'Company Services', '#', class: "b-sidebar-menu__link", data: { content: 'company_services' }