.clear_with_50
.error_message.pull-right
  There are some errors!
.success_message.pull-right
  Updated successfully!
%button.b-profile__submit.s-btn Save
= image_tag 'spinner.gif', class: 'loading_spinner pull-right'