<h1>Email confirmation for <%=@resource.company.company_name %></h1>
<p>
  To confirm your email address, click the URL below, the URL is valid for 48 hours since your sign-up.
</p>

<%= link_to 'Click here to validate', edit_email_validation_url(@resource, confirmation_token: @resource.confirmation_token) %>

<p>If you did not sign-up at Glowfori, just ignore this email.</p>

<p>Regards</p>



<p>Please note the following <%= link_to 'terms and conditions', terms_url, 'target' => '_blank' %> apply for all members and govern the usage of the site</p>
