ProfilePage.hide_spinner("#{params[:from]}");

- if @company.errors.present?
  ProfilePage.show_error_message("#{params[:from]}");
- else
  ProfilePage.show_success_message("#{params[:from]}");

FormChange.save_changes();
FormChange.head_foot_links();